.book-container {
  width: 60%;
  display: flex;
  height: 260px;
  justify-content: space-around;
  margin-top: 50px;
  margin-left: 270px;
}
.book-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.book-details button {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  width: 50%;
}
.book-details button:hover {
  background-color: #0056b3;
}
.spinner-border {
  margin-top: 100px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .book-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
    margin-top: 200px;
    margin-left: 20px;
  }
  .book-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .book-details button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    width: 50%;
  }
  .book-details button:hover {
    background-color: #0056b3;
  }
  .spinner-border {
    margin-top: 100px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .book-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
    margin-top: 200px;
    margin-left: 20px;
  }

  .book-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .book-details button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    width: 50%;
  }

  .book-details button:hover {
    background-color: #0056b3;
  }

  .spinner-border {
    margin-top: 100px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .book-container {
    width: 90%;
    display: flex;
    height: 260px;
    justify-content: space-around;
    margin-top: 80px;
    margin-left: 30px;
  }
  .book-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
  }
  .book-details button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    width: 50%;
  }
  .book-details button:hover {
    background-color: #0056b3;
  }
  .spinner-border {
    margin-top: 100px;
  }
}
